<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USERS</h1>
    <table style="border: 1px;">
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Age</th>
            <th>HairColour</th>
            <th>GPA</th>
    
        </tr>
        <tr th:each="user : ${us}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.weight}"></td>
            <td th:text="${user.height}"></td>
            <td th:text="${user.hair_colour}"></td> 
            <td th:text="${user.gpa}"></td> 
            <!-- _____ is the one you use in Users users.______  -->
       
        </tr>
    </table>
</body>
</html>