<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/showStyle.css">
</head>
<body>
    <div class = "heading">
      <h1>Students</h1>  
    </div>
    
    <div class = "container">
       <span th:each = "student: ${us}" class = "boxes">
        <div class = "rectangle" th:id = "${student.uid}"
         th:style="'height:' + ${student.height} + 'pt ; width:'+${student.weight}+'pt'+
         '; margin-top:6pt'">
            <span th:style = "'color:'+ ${student.hair_colour}"
                    th:text = "${student.name}">
            </span>
            <br>
            <span th:text = "'GPA:'+${student.gpa}">
            </span>
            <br>
            <button th:id = "${student.uid}" class = "update box">Update</button>
            <button th:id = "${student.uid}" class = "delete box">Delete</button>  
    </div>

    </span>
 
    </div>
    <button class ="add box">Add Student</button>
    


    <script src = "/showScript.js"></script>
</body>
</html>